

.button-display {
    padding: 2px;
    margin: 10px;
    color: white;
    background-color: rgb(122, 189, 231);
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.button-display:hover, #submit:hover {
    cursor: pointer;
    background-color: rgb(22, 22, 94);
}
.button-display:focus, #submit:focus {
    outline: 0;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 20px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}
.imagediv {
    float: left;
    margin: 20px;
    background-color: rgb(122, 189, 231);
    border-radius:  15px 50px 15px 50px ;
    border: 2px solid rgb(62, 105, 133);
    
    
}
#addAnimal {
    width: 25%;
    float: right;
    margin-right: 20px;
    background-color: rgb(219, 226, 231);
    padding: 20px;
    border-radius:  15px 50px 15px 50px ;
    border-style: outset;
}
#images {
    width: 70%;
    float: left;
    background-color: rgb(219, 226, 231);
    border-radius:  15px 50px 15px 50px ;
    
}

#buttons {
    background-color:rgb(219, 226, 231);
    margin-bottom: 20px;
    border-bottom: outset;
}

.image {
    border-radius:  0px 0px 15px 50px ;
}

#addaplace {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
}
#submit {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 2px;
    margin: 10px;
    color: white;
    background-color: rgb(122, 189, 231);
    border-radius: 20px;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}